@model Department

@{
    ViewData["Title"] = "New";
}

<h1>New</h1>

@using (Html.BeginForm("SaveNew", "Department", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.DName)
        @Html.TextBoxFor(model => model.DName, new { @class = "form-control" })
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
}

@Html.ActionLink("Back to list", "Index", "Department")
